*{
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: grey;
}

.logo img {
    width: 100px;
    height: 100px;
}

.logo h1 {
    font-size: 24px;
    margin-left: 10px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
    
}

nav ul li a {
    
    text-decoration: none;
    font-size: 16px;
    margin-top: 0PX;
    font-size:large;
    color: black;
    font-weight: bold;
}

nav ul li a:hover {
    color: red;
}
body{
    background-color: skyblue;
}
footer {
    background-color: gray;
    color:black;
    

    
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.footer-left p, .footer-right ul li a {
    color:black;
    text-decoration: none;
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 10px;
}
h3{
    margin-top: 10px;
}
h1{
    padding: 20px 10px 20px 10px;
}
.main h1{
    padding: 10px 100px 10px 10px;
    margin: 10px 10px 10px 10px;
    display: inline-block;
    flex-direction: row;

}
.main h3{
    padding: 10px 100px 10px 10px;
    margin: 10px 10px 10px 10px;
    display: inline-block;
    flex-direction: row;
}
.main2 h1{
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    display: inline-block;
    flex-direction: row;
}
.main2 h3{
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    display: inline-block;
    flex-direction: row;
}
.main3 h1{
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    display: inline-block;
    flex-direction: row;
}
.main3 h3{
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    display: inline-block;
    flex-direction: row;
}

.footer-right ul {
    list-style: none;
    padding: 0;
}

.footer-right ul li {
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: underline;
}

.bottom-bar {
    
    padding: 10px 0;
    text-align: center;
}

.bottom-bar p {
    color:white;
    font-size: 12px;
    margin: 0;
    font-size: 20px;
}
